.col1{
    background: #FD7619!important;
    color: white
}

.col2 {
    background: #FFDF2F!important;
    color: white
}

.col3 {
    background:  #BDDA46!important;
    color: white
}

.col4  {
    background: #338B74!important;
    color: white
}

.col5{
    background: #668994!important;
    color: white
}